body            { font-family: sans-serif; background-color: #333333;}
 h1, h2, h3, h4   { color: #CCCCCC;}
h1, h2          { font-family: 'Georgia', serif; }
h1              { border: 3px solid #eee; text-align: center; width: 100%; font-size: 5.2em; padding: 2}
h2              { font-size: 1.2em; }

p               { color: #CCCCCC;}

.card {
	  border: 5px solid #bbb; /* Dotted border */
    border-radius: 15px; /* Rounded border */
    margin: 0 auto; /* Center the coupon */
    max-width: 500px; 
    padding: 8px;
}

a {text-decoration: none; color:#FFFFCC; font-size: .75em;}
.header         {left:50%; text-align: center;}
.name {width:50%;display: inline-block; float: left;}
.description {}
.rank {text-align: right; width:50%; float: right; }
.editdeletepane{}

.flash          { background: #cee5F5; }