<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>


<body>
<div class = 'heading'>
<h1>Sports</h1>
</div>

<a href="{{url_for('newSports')}}" > <h3> Add a New Sports </h3> </a>

{% for sport in sports %}


<div class="card" style="margin: 3px;">
<a href = "{{url_for('showSportsDetail', sports_id = sport.id)}}"> <h2>{{sport.name}}</h2></a>

<p><a href = "{{url_for('editSports',sports_id = sport.id)}}">Edit Sports</a></p>

<p> <a href = "{{url_for('deleteSports',sports_id = sport.id)}}">Delete Sports</a> </p>
</div>

{% endfor %}

</body>

</html>